{% extends 'home/base.html' %}
{% block content %}
<div class="container">
<h1 class="text-center">About Us</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quaerat ipsum quam ab ad repudiandae unde est at itaque sapiente illo libero optio adipisci velit id ex, obcaecati accusamus assumenda expedita quod!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa ratione deleniti aperiam dolorem ducimus aliquam voluptatum perspiciatis commodi fuga quae. Aliquid quasi dolores accusantium officiis voluptatem perferendis maiores nesciunt. Veritatis, eaque necessitatibus! Dolorem ipsam voluptas iusto est veritatis voluptatem doloribus ab mollitia dignissimos magni et tempora nobis vero, facilis explicabo.</p>
</div>


{% endblock content %}