{% extends 'base.html' %}
{% block title %}Index{% endblock title %}
{% block body %}
<div class="container-fluid">
    <div class="jumbotron my-2" style="background-color: darkturquoise;">
        <h1 class="display-4">Shiv-Stores <i class="material-icons" style="font-size: 53px;">shop</i></h1>
        <i class="fas fa-camera-retro">camera</i>
        <p class="lead">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe, corporis illum? Accusamus dolor aut,
            officiis nam laboriosam, minima quidem, nesciunt enim repellendus doloribus similique quos! Quaerat
            explicabo aliquid unde, molestiae hic eligendi esse voluptatem?
        </p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="/home" role="button">Explore More</a>
    </div>
</div>
{% endblock body %}